// @use '../../sass/tools/mixins/mixinBackgroundImage';
.specializationDetail{
    // @include mixinBackgroundImage.background-Image('../../assets/img/xp__fondo.webp');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width:767px) {
    .specializationDetail{
        background-color: var(--color-black);
    }
}