#root {
  color: var(--color-white);
}

.specializationDetail {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 2;
  height: 20vh;
}

@media screen and (max-width: 767px) {
  .header__container {
    height: 100px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .header__container {
    height: 100px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) and (orientation: landscape) {
  .header__container {
    height: 75px;
  }
}
.header__logo {
  display: flex;
}
.header__logo__initialsName {
  font-weight: bold;
  font-family: var(--font-family-zen);
  padding: 0 0 0 2rem;
  font-size: var(--font-size-logoCY);
}

@media screen and (max-width: 767px) {
  .header__logo__initialsName {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .header__logo__initialsName {
    padding: 16px 0 0 32px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) and (orientation: landscape) {
  .header__logo__initialsName {
    padding: 0 0 0 32px;
  }
}
.header__navBar {
  display: flex;
}
.header__navBar__list {
  display: flex;
}
.header__navBar__item {
  display: flex;
  align-items: flex-end;
  padding-right: 1rem;
  border: 2px solid transparent;
  height: 13.5vh;
  font-size: var(--font-size-a16);
}
.header__navBar__item:hover {
  border-top: 2px solid var(--color-white);
}
.header__navBar__link {
  font-family: var(--font-family-zen);
}
.header__navBar__iconMenuBars {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__navBar__list {
    position: fixed;
    width: 100%;
    height: calc(100vh - 100px);
    transition: all 0.5s;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--color-white);
    color: black;
    right: 0;
    z-index: 2;
  }
  .header__navBar__item {
    height: 8.9vh;
    border: none;
    padding-right: 0;
    width: 100%;
    font-size: var(--font-size-a24);
  }
  .header__navBar__item:hover {
    border-top: none;
    background-color: var(--color-softGray);
  }
  .header__navBar__link {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__navBar__iconMenuBars {
    display: inline-flex;
    padding: 0 1rem;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .header__navBar__list {
    position: fixed;
    width: 100%;
    height: calc(100vh - 100px);
    transition: all 0.5s;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--color-white);
    color: black;
    right: 0;
    z-index: 2;
  }
  .header__navBar__item {
    align-items: center;
    font-size: 30px;
    padding-right: 0;
  }
  .header__navBar__iconMenuBars {
    display: inline-flex;
    padding: 0 1rem;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) and (orientation: landscape) {
  .header__navBar__list {
    height: calc(100vh - 75px);
  }
}
.banner__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 2rem;
}

@media screen and (max-width: 767px) {
  .banner__container {
    padding-top: 0;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .banner__container {
    padding-top: 1rem;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) and (orientation: landscape) {
  .banner__container {
    padding-top: 34px;
  }
}
.banner__presentation__recognition {
  width: 60vw;
}
.banner__presentation__greeting {
  font-size: var(--font-size-h1);
  text-align: center;
  line-height: 3.125rem;
  font-family: var(--font-family-zen);
  font-weight: 800;
}
.banner__presentation__university {
  font-size: var(--font-size-h4);
  text-align: center;
  letter-spacing: 0.125rem;
  line-height: 1.875rem;
  font-family: var(--font-family-montserrat);
}
.banner__presentation__list {
  display: inline-flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 3.125rem;
  font-family: var(--font-family-montserrat);
}
.banner__presentation__itemIcono {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: var(--color-white);
  margin: 0.625rem;
  border-radius: 50%;
  width: 4vw;
  height: 7.5vh;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.banner__presentation__itemIcono:hover .banner__presentation__titleIcono {
  top: -2.8125rem;
  opacity: 1;
  visibility: visible;
  position: auto;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}
.banner__presentation__itemIcono__activeFacebook:hover, .banner__presentation__itemIcono__activeFacebook:hover .banner__presentation__titleIcono, .banner__presentation__itemIcono__activeFacebook:hover .banner__presentation__titleIcono::before {
  background: var(--color-blue-facebook);
  color: var(--color-white);
}
.banner__presentation__itemIcono__activeTwitter:hover, .banner__presentation__itemIcono__activeTwitter:hover .banner__presentation__titleIcono, .banner__presentation__itemIcono__activeTwitter:hover .banner__presentation__titleIcono::before {
  background: var(--color-green-twitter);
  color: var(--color-white);
}
.banner__presentation__itemIcono__activeInstagram:hover, .banner__presentation__itemIcono__activeInstagram:hover .banner__presentation__titleIcono, .banner__presentation__itemIcono__activeInstagram:hover .banner__presentation__titleIcono::before {
  background: var(--color-red-instagram);
  color: var(--color-white);
}
.banner__presentation__itemIcono__activeLinkedin:hover, .banner__presentation__itemIcono__activeLinkedin:hover .banner__presentation__titleIcono, .banner__presentation__itemIcono__activeLinkedin:hover .banner__presentation__titleIcono::before {
  background: var(--color-blue-linkedin);
  color: var(--color-white);
}
.banner__presentation__itemIcono__activeTikTok:hover, .banner__presentation__itemIcono__activeTikTok:hover .banner__presentation__titleIcono, .banner__presentation__itemIcono__activeTikTok:hover .banner__presentation__titleIcono::before {
  background: var(--color-black);
  color: var(--color-white);
}
.banner__presentation__titleIcono {
  position: absolute;
  top: 0;
  padding: 0.3125rem 0.5rem;
  border-radius: 0.3125rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.banner__presentation__titleIcono::before {
  content: "";
  position: absolute;
  height: 1vh;
  width: 0.5vw;
  background: var(--color-white);
  bottom: -0.1875rem;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media screen and (max-width: 767px) {
  .banner__presentation__recognition {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .banner__presentation__containerTitles {
    width: 75%;
  }
  .banner__presentation__greeting {
    font-size: 32px;
  }
  .banner__presentation__list {
    height: 10vh;
  }
  .banner__presentation__itemIcono {
    width: 15vw;
  }
  .banner__presentation__titleIcono {
    display: none;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .banner__presentation__list {
    padding-top: 10px;
    height: 100%;
  }
  .banner__presentation__itemIcono {
    height: 60px;
    width: 60px;
  }
}
.main__aboutMe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 67vh;
  background-color: var(--color-pastelRed);
}
.main__aboutMe__description {
  width: 42vw;
}
.main__aboutMe__title {
  font-size: var(--font-size-h2);
  font-weight: 800;
}
.main__aboutMe__parrafo {
  font-size: var(--font-size-p20);
  text-align: justify;
}
.main__aboutMe__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 41vh;
  background: linear-gradient(45deg, var(--color-pastelBlue) 0%, var(--color-darkBlue) 100%);
  animation: morph 5s ease-in-out infinite;
  border-radius: 63% 37% 53% 47%/52% 70% 30% 48%;
  transition: all 1s ease-in-out;
}
@keyframes morph {
  0% {
    border-radius: 63% 37% 53% 47%/52% 70% 30% 48%;
    -webkit-border-radius: 63% 37% 53% 47%/52% 70% 30% 48%;
    -moz-border-radius: 63% 37% 53% 47%/52% 70% 30% 48%;
    -ms-border-radius: 63% 37% 53% 47%/52% 70% 30% 48%;
    -o-border-radius: 63% 37% 53% 47%/52% 70% 30% 48%;
    background: linear-gradient(45deg, var(--color-pastelBlue) 0%, var(--color-darkBlue) 100%);
  }
  50% {
    border-radius: 57% 43% 61% 39%/43% 45% 55% 57%;
    background: linear-gradient(45deg, var(--color-pastelBlue) 0%, var(--color-darkBlue) 100%);
    -webkit-border-radius: 57% 43% 61% 39%/43% 45% 55% 57%;
    -moz-border-radius: 57% 43% 61% 39%/43% 45% 55% 57%;
    -ms-border-radius: 57% 43% 61% 39%/43% 45% 55% 57%;
    -o-border-radius: 57% 43% 61% 39%/43% 45% 55% 57%;
  }
  100% {
    border-radius: 63% 37% 53% 47%/52% 70% 30% 48%;
    -webkit-border-radius: 63% 37% 53% 47%/52% 70% 30% 48%;
    -moz-border-radius: 63% 37% 53% 47%/52% 70% 30% 48%;
    -ms-border-radius: 63% 37% 53% 47%/52% 70% 30% 48%;
    -o-border-radius: 63% 37% 53% 47%/52% 70% 30% 48%;
    background: linear-gradient(45deg, var(--color-pastelBlue) 0%, var(--color-darkBlue) 100%);
  }
}
.main__aboutMe__imgProfile {
  width: 17vw;
  height: 35vh;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .main__aboutMe {
    width: 100vw;
    height: 75vh;
  }
  .main__aboutMe__description {
    width: 350px;
  }
  .main__aboutMe__profile {
    display: none;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .main__aboutMe {
    height: 100%;
  }
  .main__aboutMe__description {
    width: 80%;
    padding: 16px 0 16px 0;
  }
  .main__aboutMe__profile {
    display: none;
  }
}
.main__moreAboutMe {
  height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__moreAboutMe__title {
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-span80);
  margin-bottom: 2rem;
  font-weight: 500;
}
.main__moreAboutMe__buttonCv {
  padding: 1.5rem 3rem;
  letter-spacing: 0.0938rem;
  font-weight: 700;
  font-size: 1rem;
  color: var(--color-black);
  background-color: var(--color-softGray);
  opacity: 0.6;
  border: 2px solid var(--color-white);
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.main__moreAboutMe__buttonCv:hover {
  background-color: var(--color-pastelGreen);
  box-shadow: 0px 15px 20px var(--color-darkGreen);
  color: var(--color-white);
  transform: translateY(-7px);
  opacity: initial;
}
.main__moreAboutMe__buttonCv:active {
  transform: translateY(-1px);
}

.main__skills {
  background: var(--color-grey);
  color: var(--color-black);
  padding-bottom: 5rem;
}
.main__skills__title {
  padding: 2rem 0;
  text-align: center;
  font-family: var(--font-family-zen);
  font-size: var(--font-size-h2);
  font-weight: 800;
}
.main__skills__cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main__skills__card {
  width: 18.5vw;
  background-color: var(--color-white);
  margin: 0.625rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}
.main__skills__containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 22.5vh;
}
@keyframes rotateVertCenter {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
.main__skills__list {
  display: flex;
  flex-direction: column;
  padding: 1.1rem;
}
.main__skills__itemTitle {
  text-align: center;
  font-size: var(--font-size-h4);
  font-family: var(--font-family-montserrat);
  font-weight: 600;
}
.main__skills__itemParagraph {
  text-align: justify;
  margin-top: 0.5rem;
  font-size: var(--font-size-p16);
  font-family: var(--font-family-montserrat);
}
.main__skills__itemLink a {
  display: inline-flex;
  margin-top: 1rem;
  color: var(--color-white);
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.25rem;
  align-items: center;
  gap: 0.25rem;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.main__skills__itemLink span {
  transition: 0.3s ease;
}

@media screen and (max-width: 767px) {
  .main__skills__cardContainer {
    flex-direction: column;
    flex-wrap: initial;
    align-items: center;
  }
  .main__skills__card {
    width: 350px;
  }
  .main__skills__itemLink a {
    height: 40px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .main__skills__cardContainer {
    flex-direction: column;
    flex-wrap: initial;
    align-items: center;
  }
  .main__skills__containerImg {
    height: 200px;
  }
  .main__skills__card {
    width: 380px;
  }
  .main__skills__itemLink a {
    height: 40px;
  }
}
.main__academicTraining {
  background-color: rgba(245, 216, 132, 0.2);
  padding-bottom: 2.5rem;
}
.main__academicTraining__title {
  color: var(--color-black);
  padding: 2rem 0;
  text-align: center;
  font-size: var(--font-size-h2);
  font-family: var(--font-family-zenKaku);
  line-height: 1.1;
}
.main__academicTraining__spanTitle {
  font-weight: 800;
  font-family: var(--font-family-zen);
}
.main__academicTraining__cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main__academicTraining__card {
  width: 28vw;
  height: 34vh;
  margin: 0.625rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes animationOpacity {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.main__academicTraining__titleCampus {
  font-size: var(--font-size-h4);
  font-family: var(--font-family-zen);
  text-align: center;
}
.main__academicTraining__itemParagraph {
  margin-bottom: 10px;
  text-align: justify;
  width: 22vw;
  font-family: var(--font-family-montserrat);
}
.main__academicTraining__itemLink {
  cursor: pointer;
}
.main__academicTraining__itemLink a {
  display: inline-flex;
  margin-top: 1rem;
  color: var(--color-white);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 800;
  align-items: center;
  gap: 0.25rem;
  padding: 4px 8px;
  border-radius: 4px;
}
.main__academicTraining__itemLink span {
  transition: 0.3s ease;
}
.main__academicTraining__linkCampus {
  display: none;
}

@media screen and (max-width: 767px) {
  .main__academicTraining__cardContainer {
    flex-direction: column;
    align-items: center;
    flex-wrap: initial;
  }
  .main__academicTraining__card {
    width: 350px;
  }
  .main__academicTraining__marianoGalves, .main__academicTraining__alura, .main__academicTraining__tecnicoEvangelico {
    pointer-events: none;
  }
  .main__academicTraining__linkCampus {
    display: inline-flex;
    align-items: center;
    margin-top: 1rem;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.25rem;
    gap: 0.25rem;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--color-pink);
    width: 100px;
    height: 50px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .main__academicTraining__cardContainer {
    flex-direction: column;
    align-items: center;
    flex-wrap: initial;
  }
  .main__academicTraining__card {
    width: 350px;
    height: 250px;
  }
  .main__academicTraining__marianoGalves, .main__academicTraining__alura, .main__academicTraining__tecnicoEvangelico {
    pointer-events: none;
  }
  .main__academicTraining__linkCampus {
    display: inline-flex;
    align-items: center;
    margin-top: 1rem;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.25rem;
    gap: 0.25rem;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--color-pink);
    width: 100px;
    height: 50px;
  }
}
.main__xp {
  background: var(--color-grey);
}
.main__xp__title {
  color: var(--color-black);
  text-align: center;
  padding: 4rem 0 5rem 0;
  font-family: var(--font-family-zen);
  font-size: var(--font-size-h2);
}
.main__xp__xpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__xp__card {
  display: flex;
  padding-bottom: 1rem;
}
.main__xp__card:nth-child(2n) {
  flex-direction: row-reverse;
}
.main__xp__containerPicture .main__xp__imgCard {
  width: 36vw;
  height: 45vh;
}
.main__xp__imgCardActive {
  display: none;
}
.main__xp__informationCard {
  border-radius: 10px;
  width: 25vw;
  height: 28vh;
  margin: 1rem;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__xp__detailsCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.0196078431);
  backdrop-filter: blur(10px);
  padding: 1rem;
}
.main__xp__titleCard {
  font-size: var(--font-size-h3);
  font-weight: 500;
}
.main__xp__subTitleCard {
  font-size: var(--font-size-h4);
  font-family: var(--font-family-zenKaku);
}
.main__xp__containerLinks a:last-child {
  margin-left: 1rem;
}
.main__xp__spanRepository, .main__xp__spanDemo {
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}
.main__xp__linkRepository, .main__xp__linkDemo {
  display: inline-flex;
  margin-top: 1rem;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.25rem;
  align-items: center;
  gap: 0.25rem;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--color-pink);
  transition: 0.4s;
}
.main__xp__linkRepository:hover, .main__xp__linkDemo:hover {
  box-shadow: 5px 6px 0px var(--color-white);
  transition: all 0.2s ease-in-out;
}
.main__xp__linkDemo:hover .main__xp__spanDemo, .main__xp__linkRepository:hover .main__xp__spanRepository {
  transform: translateX(4px);
}

@media screen and (max-width: 767px) {
  .main__xp__card {
    flex-direction: column;
  }
  .main__xp__card:nth-child(2n) {
    flex-direction: column;
  }
  .main__xp__imgCard {
    display: none;
  }
  .main__xp__imgCardActive {
    display: initial;
    width: 360px;
    height: 280px;
  }
  .main__xp__informationCard {
    width: 300px;
    height: 250px;
  }
  .main__xp__detailsCard {
    border-radius: 5%;
  }
  .main__xp__linkRepository, .main__xp__linkDemo {
    justify-content: center;
    width: 100px;
    height: 40px;
  }
  .main__xp__linkRepository:hover, .main__xp__linkDemo:hover {
    box-shadow: none;
    transition: none;
  }
  .main__xp__linkDemo:hover .main__xp__spanDemo, .main__xp__linkRepository:hover .main__xp__spanRepository {
    transform: none;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .main__xp__card {
    flex-direction: column;
  }
  .main__xp__card:nth-child(2n) {
    flex-direction: column;
  }
  .main__xp__imgCard {
    display: none;
  }
  .main__xp__imgCardActive {
    display: initial;
    width: 480px;
    height: 400px;
  }
  .main__xp__informationCard {
    width: 350px;
    height: 250px;
  }
  .main__xp__detailsCard {
    border-radius: 5%;
    width: 80%;
    height: 80%;
  }
  .main__xp__linkRepository, .main__xp__linkDemo {
    justify-content: center;
    width: 100px;
    height: 50px;
  }
  .main__xp__linkRepository:hover, .main__xp__linkDemo:hover {
    box-shadow: none;
    transition: none;
  }
  .main__xp__linkDemo:hover .main__xp__spanDemo, .main__xp__linkRepository:hover .main__xp__spanRepository {
    transform: none;
  }
}
.main__contact {
  display: flex;
  justify-content: center;
  background: var(--color-grey);
  padding: 4rem 0 6rem 0;
  color: var(--color-black);
}
.main__contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  padding: 30px 30px 30px 30px;
  box-shadow: 10px 10px 0px var(--color-darkGray);
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.main__contact__form::before {
  position: absolute;
  content: "";
  width: 22vw;
  height: 45vh;
  background-color: var(--color-yellow);
  transform: rotate(45deg);
  left: -180px;
  z-index: 1;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}
.main__contact__information {
  width: 24vw;
  font-family: var(--font-family-montserrat);
  z-index: 2;
}
.main__contact__title {
  font-size: var(--font-size-h2);
  font-weight: 700;
  margin: 0 0 10px 0;
  text-align: center;
}
.main__contact__subTitle {
  font-size: var(--font-size-h4);
  z-index: 2;
}
.main__contact__paragraph {
  font-size: var(--font-size-p16);
  color: var(--color-softGray);
}
.main__contact__inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.main__contact__textArea {
  resize: none;
  border: 2px solid var(--color-softGray);
}
.main__contact__textArea:focus {
  outline: none;
  border: 2px solid rgb(199, 114, 255);
}
.main__contact__TextAreaContainer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.main__contact__input {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-softGray);
  margin: 10px 0;
  font-size: 1rem;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 10px;
}
.main__contact__input:focus {
  outline: none;
  border-bottom: 2px solid rgb(199, 114, 255);
}
.main__contact__input::placeholder {
  color: rgb(80, 80, 80);
  font-size: 1em;
  font-weight: 500;
}
.main__contact__buttonSubmit {
  z-index: 2;
  position: relative;
  width: 100%;
  border: none;
  background-color: rgb(162, 104, 255);
  color: var(--color-white);
  height: 4.5vh;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 10px;
  cursor: pointer;
}
.main__contact__buttonSubmit:hover {
  background-color: var(--color-pink);
}

@media screen and (max-width: 767px) {
  .main__contact__form {
    box-shadow: none;
  }
  .main__contact__form::before {
    display: none;
  }
  .main__contact__information {
    width: 300px;
  }
  .main__contact__buttonSubmit {
    height: 50px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .main__contact__form {
    width: 350px;
  }
  .main__contact__form::before {
    width: 300px;
    height: 300px;
  }
  .main__contact__buttonSubmit {
    height: 50px;
  }
}
.footer {
  background-color: black;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__subText {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
