$color-white:#ffffff;
$color-black:#000000;
$color-grey:#dcdad7;
$color-softGray:#8B8E98;
$color-darkGray:#666666;



$color-red:#850305;
$color-lightRed:#940013;
$color-darkRed:#350007;

$color-pastelRed:#ff6961;
$color-pastelBlue:#84b6f4;
$color-pastelGreen:#77dd77;

$color-darkGreen:#2ee59d66;
$color-darkBlue:#00406F;
//redes sociales colors
$color-blue-facebook: #1877F2;
$color-green-twitter: #1DA1F2;
$color-red-instagram: #E4405f;
$color-blue-linkedin: #2864AC;
//contacto
$color-yellow:#FADFA0;
$color-pink:#6E07F3;
